/* Header */
header {
  background-color: #fcfcfc;
  color: #4f8abd;
  padding: 100px 0;
}

.header-wrapper {
  max-width: 1152px;
  margin: 0 auto;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body */
body {
  font-family: "Roboto", sans-serif;
}

/* Top Navigation */
.top-nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #4f8abd;
  padding: 8px 0;
  z-index: 1000;
}

.top-nav .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 32px;
}

.top-nav .logo-icon img {
  max-height: 40px;
}

.top-nav nav ul {
  display: flex;
  list-style: none;
}

.top-nav nav ul li {
  margin-right: 20px;
}

.top-nav nav ul li:last-child {
  margin-right: 0;
}

.top-nav nav ul li a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}
/* Formulaire */
#cv-form {
  width: 600px;
  margin: 0 auto;
}

.form-section {
  margin-bottom: 20px;
}

.form-section h2 {
  margin-bottom: 10px;
}

.form-row {
  margin-bottom: 10px;
}

.form-row label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-row input,
.form-row textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 14px;
}

.form-row input[type="date"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  font-size: 14px;
}

#submit-button {
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #3498db;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

#submit-button:hover {
  background-color: #2980b9;
}

#add-work-experience,
#add-education {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #3498db;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
}

#add-work-experience:hover,
#add-education:hover {
  background-color: #2980b9;
}
